.container
  .row
    .col-md-12
      .widget-head
        %h3.pull-left Vitrine Online
        
        %ul.tabs.pull-right.hidden-xs
          %li
            %a{href:'#tab1'}
              = image_tag "logo-netshoes.png"
          %li
            %a{href:'#tab2'}
              = image_tag "logo-buscape.png"
          %li
            %a{href:'#tab3'}
              = image_tag "logo-dafiti.png"
          %li
            %a{href:'#tab4'}
              = image_tag "logo-submarino.png"
              
        %ul.tabs.pull-right.visible-xs
          %li
            %a{href:'#tab1'}
              = image_tag "logo-netshoes.png"
  
  .row
    .col-md-12
      .widget-body
        #tab1
          %ul.products
            %li
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://www.colombo.com.br/produtos/245765/245765_Monitor_AOC_18_1_g.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00
            %li.hidden-xss
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://www.colombo.com.br/produtos/245765/245765_Monitor_AOC_18_1_g.jpg"}
                .description Monitor AOC
                .price R$ 399,00
            %li.hidden-xss.xss2
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://www.colombo.com.br/produtos/245765/245765_Monitor_AOC_18_1_g.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL 
                .price R$ 399,00
            %li.hidden-xs
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://www.colombo.com.br/produtos/245765/245765_Monitor_AOC_18_1_g.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00
            %li.visible-lg
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://www.colombo.com.br/produtos/245765/245765_Monitor_AOC_18_1_g.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00
                
        #tab2
          %ul.products
            %li
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://img.americanas.com.br/produtos/01/00/item/6988/5/6988582_1GG.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00
            %li
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://img.americanas.com.br/produtos/01/00/item/6988/5/6988582_1GG.jpg"}
                .description Monitor AOC
                .price R$ 399,00
            %li
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://img.americanas.com.br/produtos/01/00/item/6988/5/6988582_1GG.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL 
                .price R$ 399,00
            %li
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://img.americanas.com.br/produtos/01/00/item/6988/5/6988582_1GG.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00
            %li.visible-lg
              %a{href: "http://www.astux.com.br", target: "_blank"}
                %img{src: "http://img.americanas.com.br/produtos/01/00/item/6988/5/6988582_1GG.jpg"}
                .description Monitor AOC, 18.5'', LED, HD - E970SWNL
                .price R$ 399,00