/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url("http://fonts.googleapis.com/css?family=Lato");

$primary_color: #58ab55;

body { 
  //background: grey
  font-family: 'Lato';
}

.widget-head ul, .widget-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    display: inline-block;
  }
}

.widget-head {
  border-top: 3px solid $primary_color;
  border-bottom: 1px solid whitesmoke;
  background: white;
  display: inline-block;
  width: 100%;
  
  h3 {
    text-transform: uppercase;
    font-size: 0.842em;
    color: $primary_color;
    margin-top: 1px;
  }
  
  ul.tabs {
    margin-top: 10px;
    margin-bottom: -1px;
      
    li {
      float: left; 
      margin-right: 3px;
      
      a {
        height: 25px;
        display: block;
        padding: 0.2em 2em;
        text-decoration: none;
        border-bottom: 0;
        font: bold 0.88em/2em;
        color: white;
        background-color: whitesmoke;
        
        $border-radius: 5px;

        /* CSS 3 elements */
        webkit-border-top-right-radius: $border-radius;
        -webkit-border-top-left-radius: $border-radius;
        -moz-border-radius-topright: $border-radius;
        -moz-border-radius-topleft: $border-radius;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        
        &:hover {
          background: $primary_color; 
          color: #fff;
          text-decoration: none;
          cursor: pointer;
        }
        
        &.active {
          background-color: white;
          color: grey;
          font-weight: 700;
          border: 1px solid whitesmoke;
          border-bottom: none;
        }
        
        img {
          margin-top: 3px;
          max-height: 23px;
          max-width: 80px;
        }
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.widget-body ul.products{
    
  li {
    width: 20%;
    margin-left: -3px;
    text-align: center;
    
    a {
      margin: 5px;
      border-right: 1px solid whitesmoke;
      display: inline-block;
      width: 100%;
      text-decoration: none;
      color: black;
      
      img {
        max-width: 90%;
        max-height: 120px;
      }
    }
    
    .description {
      height: 40px;
      font-size: 12px;
      margin: 5px;
    }
    
    .price {
      color: $primary_color;
    }
    
    &:last-child a{
      border-right: none;
    }
  }
}

/*Media*/

@media (max-width: 781px) {
  .widget-body li.visible-lg {
    visibility: hidden !important;
    display: none;
  }
  html .widget-body ul li {
    width: 25% !important;
  }
  
  html .widget-body li.hidden-xs a {
    border-right: 0px;
  }
}

@media (max-width: 621px){
  
  .widget-body li.hidden-xs, .widget-head ul.hidden-xs {
    visibility: hidden !important;
    display: none;
  }
  html .widget-body ul li {
    width: 33.33333333333333% !important;
  }
  
  .widget-body ul.products li.hidden-xss.xss2 a{
    border-right: 0px;
  }
}

@media (max-width: 475px) {
  
  .widget-body li.hidden-xss {
    visibility: hidden !important;
    display: none;
  }
  html .widget-body ul.products li {
    width: 100% !important;
    
    a {
      border-right: 0px;
    }
  }  
}

@media (min-width: 622px){
  .widget-head ul.visible-xs {
    visibility: hidden !important;
    display: none;
  }
}
